@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.897);
    border-bottom: 0.05px solid rgb(218, 218, 218);
}
.header-main-img{
    height: 120px;
}

.header-nav{
    display: flex;
    gap: 50px;
}

.header-nav-item{
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
    

}

a{
    color: black;
}

a:hover{
    color: #e3b1c8;
    padding: 15px;
    font-size: 30px;

}

.content-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 90px;
    padding: 20px;
}

.carrosel img{
    width: 100%;
    margin-bottom: 30px;
}

.intro{
    background-color: #e4c4d3;
    border-radius: 15px;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}

.intro h2{
    padding: 25px 25px 0 25px ;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.intro p{
    padding: 15px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.legislacao-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: auto;
}

#legislacao{
    font-size: 30px;
    text-transform: uppercase;
}
.leis{
    display: grid;
    grid-template-areas: "lei1 lei3"
                         "lei1 lei3"
                         "lei2 lei3"
                         "lei2 mas";
    align-items: center;
    
}
.lei{
    margin: 25px;
    background-color: #ffe4e1;
    border-radius: 25px;
    width: 310px;
    padding: 25px;
    text-align: center;
}
.lei p{
    font-weight: bold;
}
#marcaram{
    font-size: 20px;
}
blockquote{
    font-style: oblique;
}

#lei1{
grid-area: lei1;
}
#lei2{
    grid-area: lei2;
}
#lei3{
    grid-area: lei3;
}
#mas{
    grid-area: mas;
}
.mas{
    margin: 25px;
    font-size: 25px;
    border-radius: 25px;
    width: 250px;
    position: relative;
    bottom: 80px;
}

#napratica{
    padding: 25px 25px 0 25px ;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 15px;
}

.pratica{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-bottom: 30px;
}

.p{
    width: 696px;
    border-radius: 15px;
    background-color: #e2d7ff;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p h2{
    padding: 25px 25px 0 25px ;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.p p{
    padding: 20px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}



#graficotrab{
    width: 400px;
}
.conq{
    background-color: #ddc7d1;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    
}

#conquistas{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}

.cont-conq{
    padding: 20px;
    text-align: justify;
}


figcaption{
    text-align: center;
    font-size: 12px;
}

.ind{
    background-color: #ffe4e1;
    width: 95%;
    border-radius: 30px;
    margin: auto;
    padding-bottom: 15px;
}

#indicacoes{
padding-top: 20px;
padding-left: 15px;
font-size: 30px;
text-transform:uppercase;
margin-left: 15px;
margin-top: 25px;
}

.cartaz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    background-color: white ;
    margin: 20px;
    padding: 20px;
    width: 380px;
    height: 130px;
    box-shadow: 5px 5px 5px 5px #00000031;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}



.poster{
    width: 80px;
}
.indica-titulo{
    font-weight: bolder;
    padding-bottom: 10px;
    font-size: 15px;
}

.indica-descricao{
    font-size: 12px;
}

.integ{
margin: auto;
width: 95%;
}
#integrante{
    text-transform:uppercase;
    margin-left: 80px;
    margin-top: 25px;
    font-size: 30px;
}


.apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}

.aluno{
width: 400px;
padding: 15px;
text-align: center;
color: black;
}

.aluno img{
    width: 150px;
    border-radius: 100px;
}

.aluno img:hover{
    border: 5px solid #e3b1c8;
}

.aluno p{
    font-size: 20px;
}

.rodape{
    background-color: #45373A;
    margin-top: 50px;
}

.logrodape img{
    margin-top: 20px;
    width: 15%;
    height: 20%;
}

.texrodape1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    line-height: 25px;
    color: #ddc7d1;
    padding: 20px;
}
.logrodape{
    display: flex;
    justify-content: center;
    align-items: center;
}
