@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
}

.header-main {
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.897);
  border-bottom: 0.05px solid rgb(218, 218, 218);
  width: 100%;
  height: 120px;
}

.header-main-img {
  height: 100%;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  font-size: 25px;
  cursor: pointer;
  padding: 15px;
}

.button-menu-open,
.menu-logo-mobile {
  display: none;
}

.menu-navegacao {
  display: inline-flex;
}
.menu-navegacao ul {
  display: flex;
}

@media screen and (max-width: 850px) {
  .button-menu-open {
    position: absolute;
    left: 2rem;
    top: 50%;
    width: 50px;
    background-color: transparent;
    font-size: 2rem;
    border: none;
    height: 50px;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;
  }
  .header-nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #e3b1c8;
    overflow-x: auto;
    width: 300px;
    height: 100vh;
    transition: transform 0.4s linear;
    transform: translateX(-100%);
  }
  .menu-logo-mobile {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .menu-logo-mobile button {
    width: 50px;
    background-color: transparent;
    font-size: 2rem;
    border: none;
    height: 50px;
    cursor: pointer;
  }
  .menu-logo-mobile img {
    height: 100%;
  }
  .active-menu {
    transform: translateX(0%) !important;
  }
  .menu-navegacao {
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .menu-navegacao ul {
    display: block;
    width: 100%;
  }
  .menu-navegacao li {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 50px;
    margin: 0.5rem 0;
  }
  .menu-navegacao li:hover {
    background-color: #836372;
  }
  
  .menu-navegacao a {
    margin-top: -0.5rem;
  }
}
a {
  color: black;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: min(90px, 15vw);
  padding: 20px;
}

.carrosel {
  margin-bottom: 50px;
}

.carrosel img {
  width: 100%;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.splide {
  width: 100%;
  height: 267px; /* ALTURA DO BANNER */
  z-index: 1;
}

.splide__track,
.splide__list,
.splide__slide,
.splide__slide__content,
.splide__slide__content img {
  width: 100%;
  height: 100%;
}

/*
.splide__slide__content{
    width: 100%;
    height: 500px;
}*/
.intro {
  background-color: #e4c4d3;
  border-radius: 15px;
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
}

.intro h2 {
  padding: 25px 25px 0 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.intro p {
  padding: 15px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.legislacao-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: auto;
}

#legislacao {
  font-size: 30px;
  text-transform: uppercase;
}

.leis {
  display: grid;
  grid-template-areas: "lei1 lei3" "lei1 lei3" "lei2 lei3" "lei2 mas";
  align-items: center;
}
@media screen and (max-width: 730px) {
  .leis {
    display: flex !important;
    flex-wrap: wrap;
  }
}

.lei {
  margin: 25px;
  background-color: #ffe4e1;
  border-radius: 25px;
  width: 310px;
  padding: 25px;
  text-align: center;
}
@media screen and (max-width: 730px) {
  .lei {
    width: 40%;
  }
}
@media screen and (max-width: 630px) {
  .lei {
    width: 90%;
  }
}

.lei p {
  font-weight: bold;
}

#marcaram {
  font-size: 20px;
}

blockquote {
  font-style: oblique;
}

#lei1 {
  grid-area: lei1;
}

#lei2 {
  grid-area: lei2;
}

#lei3 {
  grid-area: lei3;
}

#mas {
  grid-area: mas;
}

.mas {
  margin: 25px;
  font-size: 25px;
  border-radius: 25px;
  width: 250px;
  position: relative;
  bottom: 80px;
}

#napratica {
  padding: 25px 25px 0 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 15px;
}

.pratica {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.p {
  width: calc(50% - 25px);
  border-radius: 15px;
  background-color: #e2d7ff;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 800px) {
  .p {
    width: 100%;
  }
}

#trabalho {
  flex-grow: 1;
}

.p h2 {
  padding: 25px 25px 0 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.p p {
  text-indent: 5px;
  padding: 20px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

#graficotrab {
  width: 400px;
}

#grafico2{
  margin-top: 25px;
  text-align: center;
}

#grafico2 img{
  width: 60%;
}

.p img {
  width: 300px;
}

#formula1 {
  margin-top: -50px;
}

.conq {
  background-color: #ddc7d1;
  width: 95%;
  margin: auto;
  border-radius: 15px;
}
#rolo{
  width: 100%;
  height: 20%;
}

#conquistas {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}

.cont-conq p{
  padding: 20px;
}

.empod{
  background-color: #e3b1c8;
  width: 95%;
  margin: auto;
  border-radius: 15px;
  margin-top: 25px;
  padding: 25px;
}

.text-empodera{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#empoderamento{
  text-transform: uppercase;
  text-align: center;
}

.cont-conq {
  text-align: justify;
  padding-bottom: 20px;
}

iframe{
  margin-top: 25px;
  width: 80%;
}

figcaption {
  text-align: center;
  font-size: 12px;
}
#legendapol{
  margin-left: -5px;
}
.ind {
  background-color: #ffe4e1;
  width: 95%;
  border-radius: 30px;
  margin: auto;
  padding-bottom: 15px;
}

#indicacoes {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 25px;
}

.cartaz {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cartaz-content {
  width: 100%;
  max-width: 1270px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .cartaz-content {
    justify-content: center;
  }
}

.container {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: calc((100% - 120px) / 3);
  height: auto;
  min-height: 130px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1921568627);
  display: flex;
}
.container div {
  flex-wrap: wrap;
}
.container div p {
  display: block;
  width: 100%;
  padding-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .container {
    width: calc((100% - 120px) / 2);
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 350px) {
  .container {
    flex-wrap: wrap;
  }
  .container img {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}

.container:hover {
  background-color: #e3b1c8;
  color: white;
  transition: all 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.poster {
  width: 80px;
}

#filme2 {
  width: 70px;
}

.indica-titulo {
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 15px;
  margin-left: 8px;
}

.indica-descricao {
  font-size: 15px;
  margin-left: 8px;
}

.integ {
  margin: auto;
  width: 95%;
}

#integrante {
  text-transform: uppercase;
  margin-left: 80px;
  margin-top: 25px;
  font-size: min(30px, 14vw);
}
@media screen and (max-width: 400px) {
  #integrante {
    margin-left: 0;
    text-align: center;
  }
}

.apresentacao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.aluno {
  width: 400px;
  padding: 15px;
  text-align: center;
  color: black;
}

.aluno img {
  width: 150px;
  border-radius: 100px;
}

.aluno img:hover {
  border: 8px solid #e3b1c8;
}

.aluno p {
  font-size: 20px;
}

.rodape {
  background-color: #45373a;
  margin-top: 50px;
}

.logrodape img {
  margin-top: 20px;
  width: 15%;
  height: 20%;
}

.texrodape1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  line-height: 25px;
  color: #ddc7d1;
  padding: 20px;
}

.logrodape {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */